<div class="form-wrapper">
  <form action="#" method="POST">
    <label for="username">Username: </label>
    <input type="text" name="username" class="username" placeholder="username" />
  </form>
</div>
